@font-face {
    font-family: "Boots And Spurs";
    src: url ("../fonts/BootsAndSpurs.ttf") format("truetype");
  }
  


  body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0px;
  }


header {
   background-color: black;
}

.logoimg{
  height: 250px;
  width: 250px;
}

  .header-container {
 display:flex;
 flex-wrap: wrap;
  }

  .header-container > * {
    flex:1;
  }

.fa-solid {
  color:white;
padding-left: 20px;
padding-top: 20px;
}

nav{
  display:none;
  position:fixed;
      top:25px;
      background: black;
      z-index: 1000;
      left: -25px;
      padding-right: 15px;
      border-radius: 15px;
}

#hamburger-menu{
  display:none;
}

#hamburger-menu:checked ~ nav {
      display: block;
  }



.search{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}




.footer-class {
  color:white;
  background-color: black;
  display:block;
  position:absolute;
  bottom: 0px;
  width:100%;
 text-align: center;
}

li {
  flex:1;
  justify-content: space-between;
 display: inline-block;
}

